/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    
}
i
{
    font-style: normal;
}
html,body {
	margin:0;
	padding:0;
    background: white;
    
}
body
{
    overflow: hidden;
}
iframe
    {
    border: none;
    }
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
.clear
{
    clear: both;
    float: none;
}
.wrapper
{
   background: url(/design/img/bg-1.jpg) center top; 
}
.container
{
    width: 102%;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    z-index: 2;
    height: 500px;
}
.cont-wrap
{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.social-tbl td
{
    padding: 10px;
}
.social-tbl td .del-soc
{
    color: rgb(173, 33, 33);
    cursor: pointer;
}
.header
{
    overflow: hidden;
}
.avatar
{
    border-radius: 50%;
    border: 10px solid #ffd012;
    box-shadow: 0 0 10px 0px white;
    vertical-align: middle;
    margin-right: 20px;
}
.avatar:hover
{
    cursor: pointer;
}
.u
{
    float: left;
    margin-left: 70px;
    padding: 18px 0 10px;
    position: relative;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.u.mod
{
    position: fixed;
    left: 9px;
    top: 0;
    margin: 0;
    width: 93px;
    padding: 10px 0;
    z-index: 99;
}
.u.mod span
{
    display: none;
}
.u .cup
{
    position: absolute;
    top: 65px;
    left: 60px;
}
.u span
{
    font-size: 18px;
}
.s
{
    float: right;
    margin-right: 70px;
}
.s > div
{
    font-size: 12px;
    text-align: center;
    padding: 6px 0 12px;
    margin-top: 17px;
    color: black;
    font-weight: bold;
    background: url(/design/img/bg_soc.png) center no-repeat;
}
.s a
{
    background: url(/design/img/sprite.png) white;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -3000px;
    float: left;
    border-radius: 25px;
    margin: 6px;
    border: 1px solid #e4e4e4;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.s a.active
{
    background-color: #ffd012;
    border: 1px solid transparent;
    
}
.s a.vk
{
    background-position: -10px -47px;
}
.s a.vk:hover
{
    background-position: -10px -8px;
}
.s a.vk.active
{
    background-position: -10px -8px;
}
.s a.fb
{
    background-position: -60px -47px;
}
.s a.fb:hover
{
    background-position: -60px -8px;
}
.s a.fb.active
{
    background-position: -60px -8px;
}
.s a.tw
{
    background-position: -109px -47px;
}
.s a.tw:hover
{
    background-position: -109px -8px;
}
.s a.tw.active
{
    background-position: -109px -8px;
}
.s a.in
{
    background-position: -159px -47px;
}
.s a.in:hover
{
    background-position: -159px -8px;
}
.s a.in.active
{
    background-position: -159px -8px;
}
.s a.tw.disable:hover 
{
    background-position: -109px -47px;
}
.s a.in.disable:hover
{
    background-position: -159px -47px;
}
.s a.tw.disable,.s a.in.disable
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.over
{
    background: url(/design/img/overlay.png);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.leaf
{
    position: absolute;
    z-index: 10;
}
.leaf.a
{
    top: 200px;
    left: 0;
}
.leaf.b
{
    top: 0;
    right: 0;
}
.leaf.c
{
    bottom: 0;
    left: 0;
}
.leaf.d
{
    right: 0;
    bottom: 0;
}
.footer
{
    position: fixed;
    width: 100%;
    z-index: 5;
    bottom: 0;
}
.footer .wrp
{
    background: #ffdd00;   
}
.footer ul
{
    width: 630px;
    overflow: hidden;
    margin: 0 auto;
}
.footer li
{
    float: left;
}
.footer a
{
    color: #ed1c24;
    font-size: 16px;
    text-decoration: none;
    padding: 30px;
    display: block;
}
.footer .white-line
{
    height: 20px;
    background: url(/design/img/white_footer.png) repeat-x;
    margin-bottom: -7px;
    position: relative;
}
.content
{
    display: none;
}
.content, .profile-content
{
    position: relative;
    padding-bottom: 400px;
}
.content .item, .profile-content .item
{
    width: 235px;
    background: white;
    overflow: hidden;
    box-shadow: 0 1px 2px #636363;
    position: absolute;
}
.content .item a
{
    text-align: center;
    display: block;
}
.content .item.g 
{
    background: #ffd012;
}
.item.main h3
{
    padding: 10px 20px 0;
    font-size: 16px;
}
.item.main .logo
{
    background: url(/design/img/logo2.jpg);
    height: 335px;
}
.item.main .week
{
    font-size: 18px;
    color: white;
    text-align: center;
    position: relative;
    top: 296px;
}
.item img
{
    margin: 0;
    padding: 0;
}
.item a img
{
    vertical-align: top;
}
.status
{
    width: 100%;
    margin: 15px 0;
}
.status .title
{
    color: #8c8c8c;
    width: 90px;
}
.dotted
{
    border-bottom: 1px dotted #8c8c8c;
}
.status .w1
{
    width: 65px;
    text-align: center;
}
.status .w1 img
{
    float: none;
}
.status .w2
{
    width: 20px;
}
.status .dig
{
    font-size: 20px;
}
.btn-how
{
    margin: 15px 0 15px 6px;
    display: inline-block !important;
}
.btn-how:hover
{
    background-position: -24px -163px;
}
.item .i
{
    padding: 5px 10px;
    overflow: hidden;
    background: white;
}
.item .an
{
    color: #616161;
    float: left;
    padding: 7px 0 0 6px;
    font-size: 11px;
}
.item .social
{
    background: url(/design/img/sprite.png);
    width: 30px;
    height: 30px;
    float: right;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.item .social.vk
{
    background-position: -20px -57px
}
.item .social.fb
{
    background-position: -70px -57px;
}
.item .social.tw
{
    background-position: -120px -57px;
}
.item .social.in
{
    background-position: -170px -57px;
}
.isb
{
    display: none;
}
.look-bar
{
    background: url(/design/img/look-bar.png);
    height: 31px;
    width: 102px;
    position: absolute;
    left: 65px;
    top: 10px;
    z-index: 9;
}
.look-bar > div
{
    color: #323232;
    float: right;
    font-size: 14px;
    width: 51px;
    text-align: center;
    margin-top: 7px;
}
.item:hover .isb
{
    display: block;
}
.item.g .isb
{
    display: none !important;
}
.like
{
    position: absolute;
    background: url(/design/img/sprite.png) -219px -22px;
    height: 31px;
    width: 31px;
    top: 10px;
    right: 10px;
}
.like:hover
{
    background-position: -219px -58px;
}
.like.disable
{
    background-position: -219px -88px;
    cursor: default;
}
.wait
{
    display: none;
}
.profile-wrap
{
    position: absolute;
    height: 800px;
    width: 830px;
    background: white;
    top: 50%;
    left: 50%;
    z-index: 9999;
    margin-left: -415px;
    margin-top: -400px;
    background: #f6f6f6;
    display: none;

    box-shadow: 0 0 3px 1px #0C0C0C;
    -moz-box-shadow:0 0 3px 1px #0C0C0C;
    -webkit-box-shadow:0 0 3px 1px #0C0C0C;
}
.profile-data
{
    width: 272px;
    overflow: hidden;
    float: left;
    border-right: 1px solid #e4e4e4;
    height: 100%;
    background: white;
}
.profile-data .s
{
    margin: 0;
    float: none;
    overflow: hidden;
    position: relative;
}
.profile-data .s a
{
    text-indent: 0;
}
.profile-data .s a:hover
{
    cursor: pointer;
}
.profile-data .s a img
{
    float: right;
    margin: -8px -1px;
    display: none;
}
.profile-data .s a:hover img
{
    display: block;
}
.profile-data .s a.vk
{
    margin: 80px 0 0 16px;
}
.profile-data .s a.fb
{
    margin: 46px 0 0 7px;
}
.profile-data .s a.tw
{
    margin: 46px 0 0 16px;
}
.profile-data .s a.in
{
    margin: 80px 0 0 7px;
}
.profile-data .path
{
    position: absolute;
}
.profile-data .path.dis
{
    opacity: 0.15;
    filter: alpha(opacity=15);
}
.profile-data .path.vk
{
    left: 70px;
    top: 107px;
}
.profile-data .path.fb
{
    left: 114px;
    top: 96px;
}
.profile-data .path.tw
{
    left: 142px;
    top: 96px;
}
.profile-data .path.in
{
    left: 158px;
    top: 107px;
}
.profile-data .avatar
{
    margin: 0;
}
.profile-data .name
{
    font-size: 20px;
    margin: 15px 0;
    display: block;
}
.page
{
    float: left;
    width: 67%;
}
.close
{
    background: url(/design/img/close.png) center 20px rgba(255, 255, 255, 0.31) no-repeat;
    height: 100%;
    width: 70px;
    position: absolute;
    cursor: pointer;
}
.profile-wrap .close
{
    right: -70px;
    top: 0;
}
.close:hover
{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#fade
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.68);
    z-index: 999;
    top:0;
    left:0;
    display: none;
}
.profile-container
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 720px;
    width: 550px;
}
.profile-container-wrap
{
    overflow: hidden;
    width: 520px;
}

.profile-header
{
    font-size: 20px;
    padding: 20px 0 0 0;
    float: left;
    overflow: hidden;
    height: 47px;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    
    background: #fdfdfd;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fdfdfd 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #fdfdfd 0%,#ededed 100%);
    background: -o-linear-gradient(top,  #fdfdfd 0%,#ededed 100%);
    background: -ms-linear-gradient(top,  #fdfdfd 0%,#ededed 100%);
    background: linear-gradient(to bottom,  #fdfdfd 0%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ededed',GradientType=0 );
}
.profile-header span
{
    margin-left: 30px;
}
.profile-form, .profile-croper, .profile-gifts, .profile-preview, .profile-share
{
    display: none;
}
.profile-form, .profile-croper, .profile-preview, .profile-share
{
    border-bottom: 1px solid #e4e4e4;
}
.profile-form input[type='text']
{
    font-size: 17px;
    border: 1px solid #e4e4e4;
    outline: none;
    padding: 4px 14px 6px;
    width: 216px;
}
.profile-form form > div
{
    margin: 20px 0 0 20px;
    width: 248px;
    float: left;
}
.profile-form form .form-row-l
{
    width: 485px;
}
.profile-form form .form-row-l input[type='text']
{
    width: 100%;
}
.form-row-left > div,.form-row-right > div
{
    margin: 0 0 20px 0;
}
.form-row-s input[type='text']
{
    width: 82px;
}
.profile-form form .grey-line, .grey-line 
{
    width: 100%;
    margin: 10px 0 -15px;
    text-align: center;
}
.inf
{
    padding: 10px 20px;
    display: block;
}
/*----------------------------------------------------------------------------*/
div.checkbox
{
    width: 22px;
    height: 20px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
div.checkbox_e0
{
    width: 22px;
    height: 20px;
    overflow: hidden;
    background: url('/design/img/sprite.png') -116px -214px no-repeat;
}
div.checkbox_e1
{
    width: 22px;
    height: 20px;
    overflow: hidden;
    background: url('/design/img/sprite.png') -116px -254px no-repeat;
}


.btn {
    cursor:pointer;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    
    box-shadow: 1px 2px 1px 0px #EBEBEB;
    -webkit-box-shadow: 1px 2px 1px 0px #EBEBEB;
    -moz-box-shadow: 1px 2px 1px 0px #EBEBEB;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    
    background-color:#f9f9f9;
    
    -moz-border-radius:38px;
    -webkit-border-radius:38px;
    border-radius:38px;
    
    border:1px solid #dcdcdc;
    
    display:inline-block;
    color:black;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding: 7px 24px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #ffffff;
    outline: none;
}
.btn:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    
    background-color:#e9e9e9;
}
.btn:active {
    position:relative;
    top:1px;
}
.btn.img
{
    position: relative;
    padding: 7px 36px 7px 17px;
}
.btn.img img
{
    position: absolute;
    right: 5px;
    top: 5px;
}
.btn.yellow
{
    background: #ffd012;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDAxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWMzMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffd012 0%, #f9c307 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd012), color-stop(100%,#f9c307));
    background: -webkit-linear-gradient(top,  #ffd012 0%,#f9c307 100%);
    background: -o-linear-gradient(top,  #ffd012 0%,#f9c307 100%);
    background: -ms-linear-gradient(top,  #ffd012 0%,#f9c307 100%);
    background: linear-gradient(to bottom,  #ffd012 0%,#f9c307 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd012', endColorstr='#f9c307',GradientType=0 );
    box-shadow: 1px 2px 1px 0px #BDB7B7;
    -webkit-box-shadow: 1px 2px 1px 0px #BDB7B7;
    -moz-box-shadow: 1px 2px 1px 0px #BDB7B7;
    border: 0;
    text-shadow: none;    
}
.btn.blue
{
    border: 0;
    text-shadow: none;
    color:white;
    padding: 5px 24px;
    
    background: #2895d3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4OTVkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZiOTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #2895d3 0%, #006b98 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2895d3), color-stop(100%,#006b98));
    background: -webkit-linear-gradient(top,  #2895d3 0%,#006b98 100%);
    background: -o-linear-gradient(top,  #2895d3 0%,#006b98 100%);
    background: -ms-linear-gradient(top,  #2895d3 0%,#006b98 100%);
    background: linear-gradient(to bottom,  #2895d3 0%,#006b98 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2895d3', endColorstr='#006b98',GradientType=0 );
}
.btn.blue:hover
{
    background: #006b98;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNmI5OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODk1ZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #006b98 0%, #2895d3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006b98), color-stop(100%,#2895d3));
    background: -webkit-linear-gradient(top,  #006b98 0%,#2895d3 100%);
    background: -o-linear-gradient(top,  #006b98 0%,#2895d3 100%);
    background: -ms-linear-gradient(top,  #006b98 0%,#2895d3 100%);
    background: linear-gradient(to bottom,  #006b98 0%,#2895d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006b98', endColorstr='#2895d3',GradientType=0 );
}
#delivery
{
    margin-top: 20px;
}

/*
 * imgAreaSelect default style
 */

.imgareaselect-border1 {
	background: url(/design/img/border-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(/design/img/border-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(/design/img/border-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(/design/img/border-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
/*
 * imgAreaSelect default style end
 */

.profile-gifts-item
{
    float: left;
    margin: 26px 0 0 20px;
}
.profile-gifts-item-icon
{
    position: relative;
    margin-top: 20px;
    width: 158px;
    height: 148px;
    background: url(/design/img/ico-gifts2.png) no-repeat;
}
.profile-gifts-item.lit, .profile-gifts-item.mag  
{
    margin-top: 70px;
}
.profile-gifts-item.photo .profile-gifts-item-icon
{
    background-position: -154px 0;
}
.profile-gifts-item.mag .profile-gifts-item-icon
{
   background-position: -307px 0;
}
.profile-gifts-item.lit.disable .profile-gifts-item-icon
{
    opacity: 0.5;
    filter:alpha(opacity=50); 
}
.profile-gifts-item.photo.disable .profile-gifts-item-icon
{
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.profile-gifts-item.mag.disable .profile-gifts-item-icon
{
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.profile-gifts-item.disable .btn, .profile-gifts-item.disable span
{
    display: none;
}
.profile-gifts-item-icon .btn
{
    margin-top: 120px;
    margin-left: 16px;
}
.profile-gifts-item h3
{
    text-align: center;
    font-size: 14px;
}
.profile-gifts-item span
{
    color: #d02bee;
}
.croper-img-wrap
{
    text-align: center;
    width: 100%;
}
#imageFile
{
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    z-index: 9;
    height: 36px;
    width: 150px;
    cursor: pointer;
    float: left;
}
#image-form
{
    position: relative;
    margin: 30px;
    overflow: hidden;
}
#image-form .i
{
    float: right;
    width: 320px;
    margin-top: 2px;
}
#image-form .btn
{
    position: absolute;
    left: 0;
    top: 0;
}
#image-form .loader
{
    vertical-align: middle;
    margin-top: 10px;
    display: none;
    float: left;
}
.error-msg
{
    background: #f5e5e5;
    color: #ed1d25;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 10px;
    display: none;
}
#image-area-form .grey-line
{
    text-align: right;
}
#image-area-form .grey-line .btn
{
    margin-right: 30px;
}
#preview
{
    height: 350px;
    text-align: center;
    position: relative;
}
.magn-layer
{
    background: url(/design/img/magnet-prev.png) center no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#preview img
{
    width: 261px;
    margin-top: 45px;
}
.mrg
{
    margin-left: 310px;
}
.btn.blue.mrg
{
    margin-left: 70px;
}
.btn.blue span
{
    background: url(/design/img/sprite.png) -69px -288px;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: -10px;
}
.btn.blue.vk span
{
    background-position: -25px -288px;
}
.share-wrp
{
    text-align: center;
    padding: 30px 0;
}
#debug
{
    position: absolute;
    z-index: 999;
    background: rgb(228, 131, 131);
    padding: 10px;
    right: 0;
    top: 0;
}

/*  ----  fancybox  -----  */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

.fancybox-skin {
	position: relative;
	color: #444;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 999999;
    outline: none;
}

.fancybox-opened .fancybox-skin {
	box-shadow: 0 0 3px 1px #0C0C0C;
    -moz-box-shadow: 0 0 3px 1px #0C0C0C;
    -webkit-box-shadow: 0 0 3px 1px #0C0C0C;
    background: url(/design/img/hatch.jpg) #f6f6f6;
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}


.fancybox-image {
    margin: 0 auto;
    vertical-align: middle;
    max-width: 92%;
    display: none;
}


#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 99999;
}

#fancybox-loading div {
	width: 168px;
	height: 168px;
	background: url(/design/img/preloader.gif) center center no-repeat;
    z-index:9999999;
}

.fancybox-close {
    background: url(/design/img/close.png) center 20px rgba(255, 255, 255, 0.31) no-repeat;
    height: 100%;
    width: 70px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: -70px;
    outline: none;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 99999;
    background: rgba(0, 0, 0, 0.68);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(fancybox_sprite@2x.png);
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url(fancybox_loading@2x.gif);
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
.fancybox-header
{
    background: white; 
    padding: 10px;
    border-bottom: 1px solid #dedede;
}
.fancybox-header .avatar
{
    border: 4px solid #ffd012;
}
.fancybox-header .isb
{
    display: block;
    top: 10px;
    right: 10px;
    position: absolute;
    width: 230px;
} 
.fancybox-header .look-bar
{
    background: url(/design/img/look-bar-big.png) no-repeat;
    height: 37px;
    width: 137px;
    left: 23px;
    top: 10px;
    display: none;
}
.fancybox-header .look-bar > div
{
    font-size: 16px;
    width: 68px;
    margin-top: 9px;
}
.fancybox-header .i-users span
{
    font-size: 16px;
}
.fancybox-header .like
{
    background-position: -274px -16px;
    height: 40px;
    width: 40px;
    top: 8px;

}
.fancybox-header .like:hover
{
    background-position: -274px -66px;
}
.fancybox-header .like.disable
{
    background-position: -274px -116px;
}
.fancybox-wrap2 .social
{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(/design/img/sprite.png) -17px -331px;
}
.fancybox-wrap2 .social.fb
{
    background-position: -77px -331px;
}
.fancybox-wrap2 .social.in
{
    background-position: -137px -331px;
}
.fancybox-wrap2 .social.tw
{
    background-position: -207px -331px;
}
.fancybox-wrap2 .win 
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
}
.fancybox-wrap3 .fancybox-header > span, .fancybox-wrap4 .fancybox-header > span
{
    font-size: 20px;
    padding: 10px 20px;
    display: block;
}
.fancybox-wrap3 .fancybox-inner
{
    width: auto !important;
    padding: 30px;
}
.fancybox-wrap4 .fancybox-inner
{
    width: auto !important;
    padding: 10px;
}
/*  ----  fancybox end  -----  */


/* --- prompts --- */

#prompt-fade
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.68);
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
}
.prompt, .intro
{
    z-index: 99999;
    display: none;
    position: absolute;
}
#prompt-close
{
    width: 90px;
    height: 91px;
    top: 80%;
    left: 50%;
    margin-top: -90px;
    margin-left: -35px;
    background: url(/design/img/close-sprite.png) no-repeat;
    cursor: pointer;
}
#prompt-close:hover
{
    background-position: -101px 2px;
}
#prompt-close img
{
    position: absolute;
    bottom: -40px;
}
/* --- prompts end --- */

#intro-cont
{
    left: 50%;
    top: 50%;
    margin-top: -440px;
    margin-left: -370px;
}
.login-btns span
{
    color: #ffd012;
    font-size: 25px;
    font-weight: bold;
    display: block;
    float: left;
    margin: 15px;
}
.login-btns .s
{
    float: none;  
    margin: 0;  
}
.login-btns .guest-login
{
    background: url(/design/img/sprite.png) -269px -158px #ffd012;
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 25px;
    margin: 6px;
    margin-right: 75px;
    cursor: pointer;
}
.content-loader
{
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 50%;
}
.content-loader.bottom
{
    margin-top: -300px;
    bottom:auto;
    display: none;
}
#top-bg
{
    background: url(/design/img/topbg.png) repeat-x;
    height: 16px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
#load-mess
{
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -262px;
    z-index: 9999999;
    display: none;
    background: url(/design/img/load-mess.png) no-repeat;
    padding: 10px;
    font-size: 14px;
    width: 520px;
    height: 23px;
    text-align: center;
}
.content .item div.soc
{
    position: absolute;
    bottom: 20px;
    height: 25px;
    width: 27px;
    background: url(/design/img/sprite.png) -27px -214px;
    text-indent: -10000px;
    left: 70px;
    cursor: pointer;
}
.content .item div.soc.fb
{
    left: 140px;
    background-position: -69px -214px;
}
.del-img
{
    position: absolute;
    color: red;
    right: 7px;
    top: 5px;
    font-size: 20px;
    background: white;
    width: 20px;
    height: 20px;
    line-height: 17px;
    text-align: center;
    border: 1px solid #84864D;
    cursor: pointer;
}
.del-img:hover
{
    background: red;
    color: white;
}
.content.moder .like
{
    background-position: -343px -132px;
    cursor: pointer;
}
.item img.win
{
    position: absolute;
    top: 0;
    left: 0;
}
.profile-content .item a
{
    cursor: default;
}
.profile-content .item .isb
{
    display: none !important;
}
.fancybox-login .login-btns
{
    margin-left: 200px;
}
.item a img.winned
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -47px;
    margin-top: -58px;
}


/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.tab { font-size: 14px;}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; background-position: -8px -122px !important;  }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ui-tabs { position: relative; padding: .2em; zoom: 1; } 
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { 
    list-style: none; 
    float: left; 
    position: relative; 
    top: 1px; 
    margin: 0 0 1px 27px;
    border-bottom: 0 !important; 
    padding: 0; 
    white-space: nowrap;
    background: url(/design/img/weeks.png) -8px -10px no-repeat;
}
.ui-tabs .ui-tabs-nav li a { float: left; padding: 10px; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; background: #f7f6f2; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { outline: none; cursor: pointer; width: 153px; height: 25px; font-size: 14px; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 0; overflow: auto;}
.ui-tabs .ui-tabs-hide { display: none !important; }


/* Interaction states
----------------------------------*/
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #757575; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {  color: black/*{fcHover}*/; background: white; }
.ui-state-hover a, .ui-state-hover a:hover { color: black/*{fcHover}*/; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-state-active { 
    background-position: -8px -66px;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #303030; text-decoration: none; }
.ui-widget :active { outline: none; }

#tabs h3
{
    font-size: 24px;
    margin: 15px 0;
}
#tabs .user-item img
{
    border-radius: 40px;
}
#tabs .user-item span
{
    font-style: italic;
    text-decoration: underline;
}
#tabs .users-list
{
    overflow: hidden;
    border-bottom: 1px solid #dedede;
    margin-bottom: 50px;
    padding: 20px;
}
#tabs .user-item 
{
    float: left;
    margin: 35px;
}