<div class="container">

    <? echo $this->legend ?>

    <input type="text" name="search_id"/>
    <button id="search-image">Search</button>

    <table class="users">

        <tr>
            <th>image</th>
            <th>id</th>
        </tr>

    </table>

	<table class="images">

		<tr>
			<th>¹</th>
			<th>Rate</th>
			<th>Image</th>
			<th>id</th>
		</tr>

		<? 	$i = 0;
		foreach ($this->images as $image) {
				$i++; ?>
			<tr>
				<td><? echo $i ?></td>
				<td><? echo $image->rate ?></td>
				<td><img src="<? echo $image->src?>" width="60"/></td>
				<td><? echo $image->soc_id ?></td>
			</tr>
		<? } ?>
	</table>

</div>
