<? echo $this->legend ?>

<form class="add_edit_form" id="add_edit_form" name="add_edit_form" method="POST">

	<div class="fields_block">

		<? if ( $this->errors['empty'] ) { 	?>
			<div class="error">Заполните все поля!</div>
		<? } ?>

		<? if ( $this->errors['username'] ) { ?>
			<div class="error">Такое имя пользователя уже используется!</div>
		<? } ?>

		<? if ( $this->errors['email'] ) { ?>
			<div class="error">Введите корректный e-mail!</div>
		<? } ?>

		<div class="form_item">
			<div class="label">Username:</div>
			<input name="username" type="text" value="<? echo $this->username ?>" <? if ( $this->errors['username'] ) { ?> class="busy" <? } ?>  autocomplete="off"  <? echo ($this->context == 'edit') ? 'readonly' : '' ?>>
		</div>

		<div class="form_item">
			<div class="label">First name:</div>
			<input name="first_name" type="text" value="<? echo $this->first_name ?>">
		</div>

		<div class="form_item">
			<div class="label">Last name:</div>
			<input name="last_name" type="text" value="<? echo $this->last_name ?>">
		</div>

		<div class="form_item">
			<div class="label">Date of birth:</div>
			<input name="birth_date" type="text" value="<? if($this->birth_date) echo date( 'Y-m-d', strtotime($this->birth_date) ) ?>" id="datepicker">
		</div>

		<div class="form_item">
			<div class="label">E-mail:</div>
			<input name="email" type="text" value="<? echo $this->email ?>">
		</div>

		<input type="hidden" name="admin_id" value="<? echo $this->admin_id ?>">
		<input type="hidden" name="context" value="<? echo $this->context ?>">
		<input type="hidden" name="player_id" value="<? echo $this->player_id ?>">
		<input type="submit" class="new" id="submit_btn" name="submitButton" value="Сохранить">

	</div>

</form>

<script type="text/javascript">
	$(document).ready(function(){

		$( "#datepicker" ).datepicker({
			changeMonth: true,
			changeYear: true,
			minDate: new Date(1960, 1 - 1, 1),
			yearRange: '1960:1995',
			dateFormat: 'yy-mm-dd'
		});



		var inputUN = $('input[name="username"]');

		inputUN.on('keyup', function() {

			if(inputUN.val().length > 2)
			{
				$.ajax({
					url: '/admin/players/checklogin',
					data: { username : inputUN.val() },
					type: "POST",
					dataType: "json",
					cache: false,
					success: function(data){
						if(data.match) {
							inputUN.addClass('busy').removeClass('not-busy');
						} else {
							inputUN.removeClass('busy').addClass('not-busy');
						}
					}
				});
			}
		});

	});
</script>